* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}
/*=================== Common ======================*/

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.heading {
    color: #0d1111;
    font-weight: 700;
    line-height: 1.16;
}

.heading-1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading-2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.btn {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    opacity: 0.8;
}

.logo-title {
    color: #767e7e;
    font-size: 12px;
    font-weight: 700;
}

.line-clamp {
    display: -webkit-box;

    /* Giá trị mặc định là 2 khi biến không khai báo */
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* =============== Header ================= */

.header {
    padding: 52px 0 8px;
    background: #fff;
}

.fixed {
    position: sticky;
    z-index: 99;
    top: -44px;
    left: 0;
    right: 0;
    bottom: -56px;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .navbar {
    margin-left: auto;
    margin-right: 117px;
}

.header .navbar .list {
    display: flex;
    gap: 39px;
}

.header .navbar .item a,
.header .cta .cta-sign-in {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 600;
}

.header .navbar .item a {
    font-weight: 400;
}

.header .navbar .item a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header .cta .cta-sign-in {
    color: #494949;
    cursor: pointer;
}

.header .cta .btn {
    background: #fff;
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    margin-left: 24px;
    cursor: pointer;
}

.header .cta .btn-sign-up span {
    padding: 8px 16px;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
}

/* ================== Hero ================= */

.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
}

.hero .body .content-block {
    margin-top: 93px;
}

.hero .content-block .desc-introduce {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .content-block .heading-1 {
    margin-top: 18px;
    width: 458px;
}

.hero .content-block .desc {
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero .content-block .play {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .content-block .btn-get-started {
    border: none;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    cursor: pointer;
}

.hero .content-block .btn-get-started span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.hero .content-block .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    cursor: pointer;
}

.hero .media-block {
    position: relative;
    margin-left: 136px;
}

.hero .media-block img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .media-block .btn-courses {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    align-items: center;
    border: none;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .btn-courses .icon {
    display: block;
    position: relative;
    margin-right: 16px;
}

.hero .btn-courses .icon::after {
    position: absolute;
    top: 28px;
    left: 4px;
    display: inline-block;
    content: "";
    width: 28px;
    height: 4px;
    background: #fff;
}

.hero .btn-courses span {
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .media-block .btn-schedules {
    position: absolute;
    top: 453px;
    left: -65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 124px;
    height: 132px;
    border: none;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block .btn-students {
    position: absolute;
    top: 500px;
    right: 45px;
    border: none;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .btn-students .students {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    margin-left: 35px;
}

.hero .btn-students .student {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: -7px;
}

.hero .btn-students .student:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1ebfc1;
}

/* =================== Features =============== */

.features {
    margin-top: 65px;
    padding: 65px 0;
}

.features .main-content .main {
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.features .main .heading {
    width: 577px;
    margin-top: 18px;
    color: #0d1111;
    font-weight: 700;
}

.features .main .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}

.features .main .row {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features .main .row .item img {
    border-radius: 20px;
}

.features .main .row .item img:hover {
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.features .main .row .sub-title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .main .row .desc {
    width: 223px;
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
}

/* ===================== Popular ======================= */

.popular {
    padding: 65px 0;
}

.popular .heading {
    margin-top: 18px;
    color: #0d1111;
    font-weight: 700;
}

.popular .row-top {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
}

.popular .row-top .desc {
    width: 525px;
    color: #767e7e;
    font-size: 18px;
    line-height: 1.78;
}

.popular .row-top .view-course {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.popular .row-bottom {
    margin-top: 79px;
    display: flex;
}

.popular .row-bottom .item {
    flex: 1;
    position: relative;
}

.popular .row-bottom .item .image {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
}

.popular .row-bottom .item .info {
    position: absolute;
    top: 332px;
    left: 17px;
    z-index: 1;
    border-radius: 8px;
    padding: 18px 25px 29px;
    width: 325px;
    background: #fff;
    cursor: pointer;
}

.popular .row-bottom .item .info:hover {
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .item .info .sub-title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .item .info .price {
    display: inline-block;
    margin-top: 16px;
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .item .info .price strong {
    color: #767e7e;
    font-size: 1.6rem;
}

.popular .item .info .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
}

.popular .item .info .info-course {
    margin-top: 18px;
    color: #9da6a5;
    font-size: 1.4rem;
    display: flex;
    gap: 10px;
}

.info-course .label {
    display: inline-flex;
    align-items: center;
}

.info-course .label::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
    margin-right: 10px;
}

/* ==================== Quantity ========================= */

.quantity {
    margin-top: 135px;
    padding: 65px 0;
}

.quantity .row-qty {
    width: 862px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.quantity .row-qty .qty {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.quantity .row-qty .qty-desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
}

/* ======================== Feedback ============================== */

.feedback {
    margin-top: 135px;
    padding: 65px 0;
}

.feedback .main-content {
    display: flex;
}

.feedback .info {
    flex: 1;
}

.feedback .info .open-qoute {
    margin-top: 37px;
    width: 36px;
    height: 39px;
}

.feedback .info blockquote {
    margin-top: 27px;
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5;
}

.feedback .info .desc {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
}

.feedback .info .desc::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    margin-right: 5px;
    margin-bottom: 6px;
}

.feedback .info .desc strong {
    color: #070707;
    font-weight: 500;
}

.feedback .info .icon {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback .info .icon .forward {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2ac9bf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback .info .icon .forward:first-child img {
    rotate: 180deg;
}

.avatar {
    flex: 1;
    position: relative;
}

.avatar-1,
.avatar-2,
.avatar-3,
.avatar-4,
.avatar-5,
.avatar-6 {
    border-radius: 50%;
}

.avatar-1 {
    position: absolute;
    top: 0px;
    right: 443px;
    width: 92px;
    height: 92px;
}

.avatar-2 {
    position: absolute;
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.avatar-3 {
    position: absolute;
    right: 601px;
    top: 258px;
    width: 78px;
    height: 78px;
}

.avatar-4 {
    position: absolute;
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
}

.avatar-5 {
    position: absolute;
    bottom: 0;
    right: 389px;
    width: 78px;
    height: 78px;
}

.avatar-6 {
    position: absolute;
    bottom: 29px;
    right: 32px;
    width: 78px;
    height: 78px;
}

/* ===================== Call to action ==================== */

.Subscription {
    background: #def6f5;
    margin-top: 65px;
    padding: 76px 0 88px;
}

.Subscription .row {
    display: flex;
    gap: 410px;
}

.Subscription .row .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}

.Subscription .row .btn-cta {
    white-space: nowrap;
    border: none;
    border-radius: 14px;
    background: #2ac9bf;
    height: 68px;
    padding: 0 59px;
}

.Subscription .row .btn-cta span {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ================================= Footer =========================== */

.footer {
    padding-top: 131px;
}

.footer .row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer .column .sub-title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .column .list {
    margin-top: 26px;
}

.footer .column .list li {
    margin-top: 18px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .column .social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .column .sub-social {
    margin-top: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.footer .column .sub-social .icon-social {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.copyright {
    display: block;
    padding: 80px 0 50px 0;
    color: #b0b5b4;
    font-size: 1.8rem;
    text-align: center;
}
